.formcontato {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    gap: 4px;
}

.formcontato input,
.formcontato button {
    margin-bottom: 8px;
}

.formcontato input {
    height: 32px;
    padding: 8px;
    border: 1px solid #1f1d1e;
    border-radius: 4px;
}

.formcontato input:hover {
    border: 2px solid #ffd000;
}

.formcontato button {
    background-color: #ffd000;
    border: 2px solid #ffd000;
    border-radius: 4px;
    height: 32px
}

.formcontato button:hover {
    border: 2px solid #1f1d1e;
}
